n8n-workflows/01-new-tour.json
{
  "_comment": "Workflow 01 — New Tour: reçoit agent_email+address, crée le job Airtable, génère une presigned URL R2",
  "name": "01 - New Tour",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "new-tour", "responseMode": "responseNode" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const { agent_email, address } = $input.first().json.body;\nif (!agent_email || !address) throw new Error('Missing agent_email or address');\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nconst rand6 = Array.from({length:6}, () => chars[Math.floor(Math.random()*chars.length)]).join('');\nconst slug = address.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').substring(0,50) + '-' + rand6;\nreturn [{ json: { slug, agent_email, address } }];"
      },
      "name": "Generate Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "slug", "fieldValue": "={{ $json.slug }}" },
            { "fieldId": "agent_email", "fieldValue": "={{ $json.agent_email }}" },
            { "fieldId": "address", "fieldValue": "={{ $json.address }}" },
            { "fieldId": "status", "fieldValue": "awaiting_upload" },
            { "fieldId": "r2_video_path", "fieldValue": "=uploads/{{ $json.slug }}/video.mp4" }
          ]
        }
      },
      "name": "Create Airtable Job",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const slug = $('Generate Slug').first().json.slug;\nconst r2VideoPath = `uploads/${slug}/video.mp4`;\nconst r2Endpoint = $env.R2_ENDPOINT;\nconst bucket = $env.R2_BUCKET;\n// Note: presigned URL generation requires AWS SDK — this is done by the frontend directly\n// We return the R2 path and the frontend calls /api/presign\nreturn [{ json: {\n  ok: true,\n  slug,\n  r2_video_path: r2VideoPath,\n  airtable_record_id: $('Create Airtable Job').first().json.id\n}}];"
      },
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Generate Slug", "type": "main", "index": 0 }]] },
    "Generate Slug": { "main": [[{ "node": "Create Airtable Job", "type": "main", "index": 0 }]] },
    "Create Airtable Job": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
