n8n-workflows/01-new-tour.json
{
  "_comment": "Workflow 01 — New Tour: reçoit agent_email+address, crée le job Airtable, génère une presigned URL R2 via AWS SDK",
  "name": "01 - New Tour",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "new-tour", "responseMode": "responseNode" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const { agent_email, address } = $input.first().json.body;\nif (!agent_email || !address) throw new Error('Missing agent_email or address');\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nconst rand6 = Array.from({length:6}, () => chars[Math.floor(Math.random()*chars.length)]).join('');\nconst slug = address.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-|-$/g,'').substring(0,50) + '-' + rand6;\nreturn [{ json: { slug, agent_email, address } }];"
      },
      "name": "Generate Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "slug", "fieldValue": "={{ $json.slug }}" },
            { "fieldId": "agent_email", "fieldValue": "={{ $json.agent_email }}" },
            { "fieldId": "address", "fieldValue": "={{ $json.address }}" },
            { "fieldId": "status", "fieldValue": "awaiting_upload" },
            { "fieldId": "r2_video_path", "fieldValue": "=uploads/{{ $json.slug }}/video.mp4" }
          ]
        }
      },
      "name": "Create Airtable Job",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const AWS = require('aws-sdk');\n\nconst slug = $('Generate Slug').first().json.slug;\nconst r2VideoPath = `uploads/${slug}/video.mp4`;\n\nconst s3 = new AWS.S3({\n  endpoint: `https://${$env.CF_ACCOUNT_ID}.r2.cloudflarestorage.com`,\n  accessKeyId: $env.R2_ACCESS_KEY_ID,\n  secretAccessKey: $env.R2_SECRET_ACCESS_KEY,\n  region: 'auto',\n  signatureVersion: 'v4',\n  s3ForcePathStyle: true,\n});\n\nconst uploadUrl = await s3.getSignedUrlPromise('putObject', {\n  Bucket: $env.R2_BUCKET,\n  Key: r2VideoPath,\n  Expires: 3600,\n  ContentType: 'video/mp4',\n});\n\nreturn [{ json: {\n  ok: true,\n  slug,\n  upload_url: uploadUrl,\n  r2_video_path: r2VideoPath,\n  airtable_record_id: $('Create Airtable Job').first().json.id\n}}];"
      },
      "name": "Generate Presigned URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Generate Slug", "type": "main", "index": 0 }]] },
    "Generate Slug": { "main": [[{ "node": "Create Airtable Job", "type": "main", "index": 0 }]] },
    "Create Airtable Job": { "main": [[{ "node": "Generate Presigned URL", "type": "main", "index": 0 }]] },
    "Generate Presigned URL": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
