n8n-workflows/03-gpu-done.json
{
  "_comment": "Workflow 03 — GPU Done: callback du container RunPod, deploy Cloudflare Pages, envoie email Resend",
  "name": "03 - GPU Done",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "gpu-done", "responseMode": "responseNode" },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.body.status }}", "operation": "equal", "value2": "done" }]
        }
      },
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "id": "={{ $('Webhook').first().json.body.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "failed" },
            { "fieldId": "error_message", "fieldValue": "={{ $('Webhook').first().json.body.error }}" }
          ]
        }
      },
      "name": "Update: failed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "id": "={{ $('Webhook').first().json.body.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "building" },
            { "fieldId": "r2_splat_path", "fieldValue": "={{ $('Webhook').first().json.body.r2_splat_path }}" }
          ]
        }
      },
      "name": "Update: building",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "const slug = $('Webhook').first().json.body.slug;\nconst cfAccountId = $env.CF_ACCOUNT_ID;\nconst cfToken = $env.CF_API_TOKEN;\nconst project = $env.CF_PAGES_PROJECT || 'splat-tours-viewer';\nconst r2Base = `https://${$env.R2_BUCKET}.${cfAccountId}.r2.cloudflarestorage.com`;\nconst splatUrl = `${r2Base}/outputs/${slug}/scene.sog`;\nconst collisionUrl = `${r2Base}/outputs/${slug}/collision.glb`;\n\n// Fetch record to get address/title\nreturn [{ json: { slug, cfAccountId, cfToken, project, splatUrl, collisionUrl } }];"
      },
      "name": "Prepare Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "getMany",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "filterByFormula": "={slug}='{{ $('Webhook').first().json.body.slug }}'",
        "limit": 1
      },
      "name": "Get Job Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $('Prepare Deploy').first().json.cfAccountId }}/pages/projects/{{ $('Prepare Deploy').first().json.project }}/deployments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.CF_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "manifest", "value": "={\"{{ $('Webhook').first().json.body.slug }}/index.html\": \"{{ $now.toMillis() }}\"}" }
          ]
        }
      },
      "name": "Deploy to CF Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "jsCode": "const slug = $('Webhook').first().json.body.slug;\nconst toursDomain = $env.TOURS_DOMAIN || 'tours.example.com';\nconst tourUrl = `https://${toursDomain}/${slug}`;\nconst record = $('Get Job Record').first().json;\nreturn [{ json: { tourUrl, agentEmail: record.fields?.agent_email, address: record.fields?.address, slug } }];"
      },
      "name": "Build Tour URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "jobs",
        "id": "={{ $('Webhook').first().json.body.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status", "fieldValue": "done" },
            { "fieldId": "tour_url", "fieldValue": "={{ $('Build Tour URL').first().json.tourUrl }}" }
          ]
        }
      },
      "name": "Update: done",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $env.RESEND_FROM }}\",\n  \"to\": [\"{{ $('Build Tour URL').first().json.agentEmail }}\"],\n  \"subject\": \"Votre visite 3D est prête — {{ $('Build Tour URL').first().json.address }}\",\n  \"html\": \"<h2>Votre visite 3D est prête !</h2><p>Adresse : <strong>{{ $('Build Tour URL').first().json.address }}</strong></p><p><a href='{{ $('Build Tour URL').first().json.tourUrl }}' style='display:inline-block;padding:12px 24px;background:#000;color:#fff;border-radius:8px;text-decoration:none;font-family:sans-serif'>Voir la visite 3D</a></p><p>Vous pouvez intégrer la visite sur votre site avec ce code iframe :</p><pre style='background:#f4f4f4;padding:12px;border-radius:4px;font-size:12px'>&lt;iframe src='{{ $('Build Tour URL').first().json.tourUrl }}' width='100%' height='600' frameborder='0' allowfullscreen&gt;&lt;/iframe&gt;</pre>\"\n}"
      },
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1900, 200]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"ok\": true}" },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2100, 200]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Success?", "type": "main", "index": 0 }]] },
    "Success?": {
      "main": [
        [{ "node": "Update: building", "type": "main", "index": 0 }],
        [{ "node": "Update: failed", "type": "main", "index": 0 }]
      ]
    },
    "Update: building": { "main": [[{ "node": "Prepare Deploy", "type": "main", "index": 0 }]] },
    "Prepare Deploy": { "main": [[{ "node": "Get Job Record", "type": "main", "index": 0 }]] },
    "Get Job Record": { "main": [[{ "node": "Deploy to CF Pages", "type": "main", "index": 0 }]] },
    "Deploy to CF Pages": { "main": [[{ "node": "Build Tour URL", "type": "main", "index": 0 }]] },
    "Build Tour URL": { "main": [[{ "node": "Update: done", "type": "main", "index": 0 }]] },
    "Update: done": { "main": [[{ "node": "Send Email via Resend", "type": "main", "index": 0 }]] },
    "Send Email via Resend": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
